@for (sp of shelfPositions(); track sp.shelfPositionId) {
  <div class="col-md-3">
    <div class="card shadow p-3 text-center">
      <h5>{{ sp.shelfPositionId }}</h5>
      @if (sp.occupied) {
        <p class="text-danger fw-bold">
          Occupied
        </p>
        <button class="btn btn-danger" 
          (click) = "removeShelf(sp.shelfPositionId)">
          Remove Shelf
        </button>
      } @else {
        <p class="text-success fw-bold">
          Empty
        </p>
        <button
          class="btn btn-primary"
          (click)="attachShelf(sp.shelfPositionId)">
          Attach Shelf
        </button>
      }
    </div>
  </div>
}

@if (shelfPositions().length === 0) {

<div class="alert alert-info mt-4">
  No shelf positions found for this device.
</div>



}
