<div class="container mt-5">

  <div class="row g-4 justify-content-center">

    <!-- DEVICES CARD -->

    <div class="col-md-5" >

      <div class="card shadow-lg h-100"

           style="cursor: pointer;"

           routerLink="/devices">

        <img src="https://cdn-icons-png.flaticon.com/512/1046/1046876.png"

             class="card-img-top p-4"

             style="height: 200px; object-fit: contain;"

             alt="Devices">

        <div class="card-body text-center">

          <h4 class="card-title">Devices</h4>

          <p class="card-text">

            Create, update and manage all devices in the system.

          </p>

        </div>

      </div>

    </div>

    <!-- SHELVES CARD -->

    <div class="col-md-5">

      <div class="card shadow-lg h-100"

           style="cursor: pointer;"

           routerLink="/shelves">

        <img src="https://cdn-icons-png.flaticon.com/512/2921/2921222.png"

             class="card-img-top p-4"

             style="height: 200px; object-fit: contain;"

             alt="Shelves">

        <div class="card-body text-center">

          <h4 class="card-title">Shelves</h4>

          <p class="card-text">

            View and manage independent shelf records.

          </p>

        </div>

      </div>

    </div>

  </div>

</div>
